@tailwind base;

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to right top,
    #f5eafc,
    #f7eafb,
    #f9eafa,
    #fbeaf9,
    #fdeaf8,
    #fbebfa,
    #f9ebfc,
    #f7ecfd,
    #efeeff,
    #e7f0ff,
    #dff2ff,
    #daf4fe
  );
}
